
div {

    background-color: lightgray ;
    height: 150px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
      
    }

footer {

    background-color: lightblue;
    font-weight: bolder ;
}
ul {

    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

