*{  
    margin: 0;
    padding: 0;

}

#imagem-logo{

    height: 30px;
}
header{
    background:mediumvioletred ;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
#confeitaria{

    padding: 10px;
    font-weight: bold;
    font-size: 25px;   
    
       
}

footer{

    background: mediumvioletred ;
    text-align: center;
    padding: 20px;
    
}
#container{

    display: flex;
}
.bolo{

    height: 150px;
}
.icones{

    height: 35px;
}

#main{

    background: #f2d0e0;
    width: 30%; 
      
    
}
.menu{

    display: flex;
        
}
.nome-do-menu{

    margin: 8px;
   
}
.card {

    display: flex;
    flex-wrap: wrap-reverse;
    
}